@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #707070;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    vertical-align: bottom;   
}

li{
    list-style: none;
}

a{
    color: #707070;
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}

/* スマートフォン用 */
@media screen and (max-width: 767px) {
}