@charset "UTF-8";

.concept {
  margin-bottom: 80px;
  overflow-x: hidden;
}
.concept img {
  border-radius: 30px;
}
.concept p {
  line-height: 2;
  margin-bottom: 40px;
  text-align: justify;
}
.content-top {
  display: flex;
  justify-content: space-between;
}
.content-top .img-left {
  max-width: 380px;
  margin-top: 180px;
}
.content-top .text {
  max-width: 300px;
  margin: 90px 20px 0;
}
.content-top .img-right {
  max-width: 470px;
}
.content-middle {
  max-width: 830px;
  width: 70vw;
  margin: -40px -80px 0 auto;
}
.content-bottom {
  display: flex;
  margin-top: -40px;
}
.content-bottom .img-left {
  max-width: 220px;
}
.content-bottom .img-right {
  max-width: 280px;
  margin: 250px 80px 0;
}
.content-bottom .text {
  max-width: 280px;
  margin-top: 380px;
}

/*-------------------------------------------
スマートフォン
-------------------------------------------*/
@media screen and (max-width: 767px) {
  .concept {
    margin-bottom: 60px;
  }
  .content-top {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .content-top .img-left {
    margin: 0 auto;
  }
  .content-top .text {
    max-width: 100%;
    margin: 0;
  }
  .content-top .img-right {
    margin: 0 auto 40px;
  }
  .content-middle {
    width: 100%;
    padding: 0 20px;
    margin: 0 0 40px;
  }
  .content-bottom {
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .content-bottom .img-left {
    max-width: 100%;
    margin: 0 auto;
  }
  .content-bottom .img-right {
    max-width: 100%;
    margin: 0 auto 40px;
  }
  .content-bottom .text {
    max-width: 100%;
    margin-top: 0;
  }
}