@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #000;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

/* 横幅設定用のクラス */
.wrapper {
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}
.wrapper-1080 {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

/* セクションタイトル */
.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 80px;
  text-align: center;
  position: relative;
}
.section-title::after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #000;
  margin: 0 auto;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}

/* 下層ページのページヘッダー部 */
.page-header {
  background-color: #ffed58;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding: 60px 0 100px;
  text-align: center;
}
.page-header .page-title .ja {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.page-header .page-title .en {
  display: block;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* 下層ページのページヘッダー下テキスト部 */
.page-head-text {
  padding: 50px 0;
  text-align: center;
}
.page-head-text .title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 30px;
}
.page-head-text .text {
  font-size: 14px;
  line-height: 1.8;
}

/* マーカー */
.highlight {
  background: linear-gradient(transparent 50%, #fff390 50%);
  font-weight: 700;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 20px;
}
#header .logo {
  width: 100%;
  max-width: 150px;
}
#header .logo a {
  display: block;
}
#header .navi .menu {
  display: flex;
  align-items: center;
}
#header .navi .menu li {
  font-size: 14px;
  margin-left: 40px;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
.contact {
  background-color: #ffed58;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  padding: 100px 0 60px;
}
.contact .inner {
  text-align: center;
}
.contact .text {
  line-height: 1.6;
  margin-bottom: 40px;
}
.contact .btn {
  background-color: #fff;
  border: solid 1px #707070;
  display: inline-block;
  font-size: 14px;
  padding: 20px 60px;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
  border-top: solid 1px #707070;
  padding: 40px 0 20px;
}
#footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
#footer .logo {
  max-width: 130px;
}
#footer .menu {
  display: flex;
  align-items: center;
}
#footer .menu li {
  font-size: 14px;
  margin-left: 40px;
  position: relative;
}
#footer .menu li::after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #000;
  transform: rotate(30deg);
  position: absolute;
  top: 3px;
  right: -20px;
}
#footer .menu li:last-child::after {
  content: none;
}
#footer .copyright {
  font-size: 12px;
  text-align: center;
}

/*-------------------------------------------
スマートフォン
-------------------------------------------*/
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }

  main {
    padding-top: 60px;
  }

  /* セクションタイトル */
  .section-title {
    font-size: 24px;
    margin-bottom: 60px;
  }
  .section-title::after {
    width: 60px;
  }

  /* 下層ページのページヘッダー部 */
  .page-header {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    padding: 30px 0 50px;
  }
  .page-header .page-title .en {
    font-size: 30px;
  }

  /* 下層ページのページヘッダー下テキスト部 */
  .page-head-text .title {
    font-size: 20px;
  }

  /*-------------------------------------------
  Header
  -------------------------------------------*/
  #header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #header .logo {
    max-width: 120px;
  }
  #header .navi {
    width: 80%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -80%;
    z-index: 20;
    transition: all 0.6s;
  }
  #header .navi.active {
    right: 0;
  }
  #header .navi .menu {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 60px 0;
    overflow: auto;
  }
  #header .navi .menu li {
    padding: 10px 0;
    margin-left: 0;
  }
  #header .hamburger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 30;
  }
  #header .hamburger span {
    width: 30px;
    height: 3px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    left: 10px;
    transition: all 0.4s;
  }
  #header .hamburger span:nth-of-type(1) {
    top: 16px; 
  }
  #header .hamburger span:nth-of-type(2) {
    top: 25px;
  }
  #header .hamburger span:nth-of-type(3) {
    top: 34px;
  }
  #header .hamburger.active span:nth-of-type(1) {
    top: 24px;
    transform: rotate(-45deg);
  }
  #header .hamburger.active span:nth-of-type(2) {
    opacity: 0;
  }
  #header .hamburger.active span:nth-of-type(3) {
    top: 24px;
    transform: rotate(45deg);
  }

  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  .contact {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    padding: 60px 0 40px;
  }

  /*-------------------------------------------
  Footer
  -------------------------------------------*/
  #footer .inner {
    flex-direction: column;
    margin-bottom: 40px;
  }
  #footer .logo {
    margin-bottom: 20px;
  }
  #footer .menu li {
    margin-left: 30px;
  }
  #footer .menu li::after {
    right: -15px;
  }
  #footer .menu li:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}